*{
    font-family: 'Kanit', monospace;

}

    #tabla, .tablainfo {
        max-width: 600px;
        min-width: 600px;
    
}
#tabla {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    

}
#arranca, .tablainfo {
    font-size: 25px;
    display: flex;
}
#cagaste {
    display: none;
}

.tablainfo {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#arranca {
    background-color: blue;
    border: none;
    color:aquamarine;
}
#tablapunt {
    display: inline-flex;
}

.cuadradito {
    aspect-ratio: 1;
}

.cuadrovacio {
    background-color: brown;
}

.cuadrovivora {
    background-color: rgb(64, 174, 248);
    border: 1px solid #000;
}

.cuadrocomida {
    background-color: yellowgreen;
    border: 1px solid #000;
}
.cuadrocomida img {
    width: 100%;
    height: 100%;
  }
  .centrado {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #cagaste {
    position: absolute;
    font-size: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    border: 2px solid rgb(251, 255, 0);
    background-color: rgb(183, 0, 255);
  }
 